<div class="container">

      <!-- Page Heading/Breadcrumbs -->

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="">Home</a>
        </li>
        <li class="breadcrumb-item active">Our Story</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
<body>
	<div>


<body>
    <div style="width:800px; margin:0 auto;">
        <h1>OUR STORY</h1>

<p>
House of Praise (HOP) Matteson is one of over 25,000 parishes of the Redeemed Christian Church of God (RCCG).
 </p>

 <p>

The Redeemed Christian Church of God was founded in Lagos, Nigeria in 1952 and has rapidly grown under the leadership of Pastor E. A. Adeboye. The global Headquarters is located at Redemption Camp, Mowe, Ogun – State, Nigeria
 </p>
<p>

House of Praise was established in July 2012, when we were sent forth by Household of Faith to the southwest suburbs of Chicago-land. God clearly directed the church to Matteson Illinois where He had prepared the land before us.
 </p>
<p>

We held our first service as a church on Sunday, July 8th, 2012 at 4331, Lincoln Highway (Rt. 30), Matteson Illinois. The congregation quickly grew to the extent that a bigger place was needed to accommodate the growing church.
 </p>
	</div>
    </div>
</body>








