<div class="container">

      <!-- Page Heading/Breadcrumbs -->

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="">Home | Information</a>
        </li>
        <li class="breadcrumb-item active">Values</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">