

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">

      <!-- Page Heading/Breadcrumbs -->

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="">Home</a>
        </li>
        <li class="breadcrumb-item active">Welcome</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
<body>
	<div>


<body>
    <div style="width:800px; margin:0 auto;">
       <h1>WELCOME TO HOP</h1>



<p>Hello, my name is Abiodun Johnson. I am the Lead Pastor at House of Praise (RCCG) Matteson. I would like to personally take this opportunity to welcome you to our church.</p>

​
<p>
At House of Praise (HOP), we are people on a journey with our Lord and Savior, Jesus Christ. We are a family born out of the love of God, love for God and love for one another. The praises of our King are foremost on our lips as He continues to reveal His glory through us.</p>

​

<p>We understand that by bringing together people from different backgrounds in the praising of Christ, their worship experience will be highly enriched. We are therefore deliberately working at making HOP purposefully diverse and intentionally inclusive.</p>

​

<p>House of Praise is a growing family-oriented church open to all cultures, ethnicities and colors. We are sensitive to providing comprehensive

teaching of Christian virtues, and wholly devoted to fostering vibrant families.</p>

<p>I encourage you to get connected, involved and engaged with the church as we explore and enjoy the love of Christ. It is a place to find fulfillment.</p>

<p>I trust God that not only will you find this site informative, but it will also affirm our commitment to making House of Praise a welcoming, distinctive and encouraging place of worship.</p>

​

<p>May God Bless You,</p>

<p>Pastor Abiodun Johnson
 </p>


</div>



