// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 0px;


}

@media (min-width: 992px) {
  body {
    padding-top: 0px;
  }
}




.logo {
  float: left;
  margin-right: 0px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}
body {
    background-color: black;

 
    /* Firefox */
    background-image:
        -moz-radial-gradient(circle, #FFFFFF 2px, rgba(248,255,128,.5) 4px, transparent 40px),
        -moz-radial-gradient(circle, #FFFFFF 1px, rgba(255,186,170,.4) 3px, transparent 30px),
        -moz-radial-gradient(ellipse, rgba(255,255,255,.9) 1px, rgba(251,255,186,.3) 2px, transparent 40px),
        -moz-radial-gradient(ellipse, rgba(255,255,255,.4), rgba(253,255,219,.2) 1px, transparent 30px);
 
    /* Webkit */
    background-image:
        -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 40, from(white), color-stop(0.1, rgba(248,255,128,.5)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(white), color-stop(0.1, rgba(255,186,170,.4)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 40, from(rgba(255,255,255,.9)), color-stop(0.05, rgba(251,255,186,.3)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, from(rgba(255,255,255,.4)), color-stop(0.03, rgba(253,255,219,.2)), to(transparent));
 
    /* Background Attributes */
    background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
 
    /* Animation */
    animation-name: movement;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 
    /* Firefox */
    -moz-animation-name: movement;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
 
    /* Webkit */
    -webkit-animation-name: movement;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@keyframes movement
{
    from {
            background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    }
    to {
            background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
    }
}
@-moz-keyframes movement
{
    from {
            background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    }
    to {
            background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
    }
}
@-webkit-keyframes movement
{
    from {
            background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    }
    to {
            background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
    }
}
.carousel-item {
 width: 100%;
  height: 600vh;
  min-height: 2000px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.example {
  background-color: lightgrey;
  padding: 0px;
}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 400px) {
  div.example {
    font-size: 30px;
  }
}
.portfolio-item {
  margin-bottom: 30px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: DarkSlategray;
   color: white;
   text-align: center;
   }